<meta charset="UTF-8">
<title><%= server.name%></title>
<link rel="icon" type="img/ico" href="/static/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#111">

<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
<link rel="stylesheet" type="text/css" href="/static/css/spinner.css">
<link rel="stylesheet" type="text/css" href="/static/css/footer.css">
<link rel="stylesheet" type="text/css" href="/static/libs/fontawesome/css/fontawesome-all.min.css">

<script src="/static/libs/jquery/jquery.min.js"></script>
<script src="/static/js/spa-navigator.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    // Replacing state due to the content.
    let page = '<%= replaceState%>';
    window.history.replaceState({page: page}, 'Employee Assessment', page);
});

$(window).on("popstate", function(e) {
    let state = e.originalEvent.state;

    if(state && state.page) {
        spaBack(state.page);
    } else {
        location.back();
    }
});
</script>