<script type="text/javascript">
let isPaneOpen;

function hamburgerClick() {
    if(isPaneOpen) {
        isPaneOpen = false;
        $('#sidenav').width(48);
        $('#sidebarContent').css({'padding-left': '48px'});
    } else {
        isPaneOpen = true;
        $('#sidenav').width(200);
        $('#sidebarContent').css({'padding-left': '200px'});
    }
}
</script>

<!-- Side navigation -->
<div id="sidenav" class="sidenav">
  <a class="disable-selection cursor-pointer" onclick="hamburgerClick()"><span class="fas fa-bars sidenav-icon"></span></a>
  <hr class="separator"/>
  <a class="disable-selection cursor-pointer"><div class="fas fa-comments sidenav-icon"></div><span class="sidenav-text">Test</span></a>
  <a class="disable-selection cursor-pointer"><div class="fas fa-comment sidenav-icon"></div><span class="sidenav-text">Test</span></a>
  <a class="disable-selection cursor-pointer"><div class="fas fa-compass sidenav-icon"></div><span class="sidenav-text">Test</span></a>
  <a class="disable-selection cursor-pointer"><div class="fas fa-address-book sidenav-icon"></div><span class="sidenav-text">Test</span></a>
  <a class="disable-selection cursor-pointer"><div class="fab fa-algolia sidenav-icon"></div><span class="sidenav-text">Test</span></a>
</div>