/* All footer style */
footer {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer div {
    text-align: center;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #ccc;
    font-size: 10pt;
}