/* Body style */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #2F80AD;
    margin: 0;
    height: 100%;
}

.content {
    padding-top: 40px;
}

.disable-selection {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
}