/* Navbar class */
.navbar {
    overflow: hidden;
    background-color: #111;
    position: fixed;
    height: 40px;
    top: 0;
    width: 100%;
}

.navbar-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.navbar-item:hover {
    color: rgb(160, 160, 160);
}

.navbar-active {
    cursor: none;
    background-color: rgb(9, 9, 9);
}

.navbar-item-right {
    float: right;
}

/* Navbar title */
.navbar-title {
    float: left;
    display: block;
    padding: 10px 0px 10px 15px;
    text-decoration: none;
    color: rgb(5, 184, 242);
    font-size: 14pt;
    text-align: left;
}