/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 48px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 40; /* Stay at the top */
    left: 0;
    background-color: #1c1c1c; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    white-space: nowrap;
}

/* The navigation menu links */
.sidenav a {
    padding: 15px 0px;
    text-decoration: none;
    font-size: 12pt;
    color: #818181;
    display: block;
}

.sidenav-icon {
    width: 48px;
    display: inline-block;
    text-align: center;
}

.sidenav-text {
    padding-left: 0px;
}

/* Separated sidenav */
.separator {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
    margin: 0;
    padding: 0;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: #111;
}

/* Sidebar content */
.sidebar-content {
    padding-left: 48px;
}