<style>
    /* Bordered form */
    form {
        padding: 20px;
        max-width: 300px;
        min-width: 100px;
        width: 80%;
        margin: 150px auto;
        background: #ffffff;
    }

    /* Legend */
    legend {
        margin: 5px 0px 8px 0px;
        font-weight: normal;
        font-size: 24px;
    }

    /* Full width of inputs */
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 4px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Submit button style */
    input[type=submit] {
        background-color: #3391c6;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    input[type=submit]:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
</style>

<form id="frmLogin" class="box-shadow">
    <legend class="disable-selection">Login to service</legend>
    <input type="text" placeholder="Username" id="txtUsername" required/>
    <input type="password" placeholder="Password" id="txtPassword" required/>
    <input type="submit" id="btnLogin" value="Login"/>
</form>

<script type="text/javascript">
    // Required functions.
    $('#frmLogin').submit(function(event) {
        // Checking inputs.
        let username = $('#txtUsername').val();
        let password = $('#txtPassword').val();

        // Showing loading animation.
        $('#spinner').show();

        // Submitting request.
        let reqData = JSON.stringify({ username: username, password: password });

        $.ajax({
            url: '/auth/login',
            method: 'POST',
            data: reqData,
            contentType: 'application/json',
            dataType: 'json',
            success: function (result) {
                // Checking result.
                if (result.success) {
                    // Token should be set, just redirect to the main router.
                    // This will prevent the user from getting back to the login page.
                    spaNavigate('/home', false);
                } else {
                    // Unable to login.
                    alert('Unable to login.\nDetails: ' + result.message);

                    // Hiding the spinner.
                    $('#spinner').hide();
                }
            },
            error: function(xhr, status, error) {
                // Showing error message.
                let err = JSON.parse(xhr.responseText);
                alert('Unable to connect to the server.\nDetails: ' + err.message);
                
                // Hiding the spinner.
                $('#spinner').hide();
            }
        });

        // Prevent default form action.
        event.preventDefault();
    });
</script>