<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/navbar %>
        <% include ../partials/spinner %>
        <div id="content" class="content">
            <%- content%>
        </div>
    </body>
</html>